#Fun {
    position: relative;
    left: 3.5rem ;
    top : 30px;
    font-family: "Pacifico", cursive; 
    font-weight: 400;
    margin-bottom: 50px;
}

#bodyProblemimg{
    width: 230px;
    height: 200px;
    
    
}

#bodyProblem {
    width: 230px;
    background-color: #240A34;
    padding: 10px;
    border-radius: 45px;
}

#bodyProblempar { 
    color : white ;
    font-family: "Playfair Display", serif;
    position: relative;
    text-align: center;
   
}

#bodyProblemname {
    font-weight: 900;
    color: rgb(248, 248, 248);
    font-family: "Domine", serif;
    text-align: center;
    text-shadow: 1px 2px  rgb(115, 5, 5);
}


#TheGentlemenimg {
    width: 230px;
    height: 200px;

}

#TheGentlemen{
    background-color: #891652;
    width: 230px;
    padding: 10px;
    border-radius: 45px;
}

#TheGentlemenpar {
    color : white ;
    font-family: "Playfair Display", serif;
    position: relative;
    text-align: center;
}

#TheGentlemenname {

    font-weight: 900;
    color: rgb(248, 248, 248);
    font-family: "Domine", serif;
    text-align: center;
    text-shadow: 1px 2px  rgb(0, 0, 0);

}


#Treasonimg {
    width: 230px;
    height: 200px; 
}

#Treason {
    width: 230px;
    padding: 10px;
    background-color: #430A5D;
    border-radius: 45px;

}

#Treasonpar{
    color : white ;
    font-family: "Playfair Display", serif;
    position: relative;
    text-align: center;
}

#Treasonname {
    font-weight: 900;
    color: rgb(248, 248, 248);
    font-family: "Domine", serif;
    text-align: center;
    text-shadow: 1px 2px  rgb(60, 68, 59);
}

#Avatarimg {
    width: 230px;
    height: 200px; 
    
}

#Avatar {
    width: 230px;
    padding: 10px;
    background-color: #31363F ;
    border-radius: 45px;
}

#Avatarname {
    font-weight: 900;
    color: rgb(248, 248, 248);
    font-family: "Domine", serif;
    text-align: center;
    text-shadow: 1px 2px  rgb(60, 68, 59);
}

#Avatarpar {
    color : white ;
    font-family: "Playfair Display", serif;
    position: relative;
    text-align: center;
}

#container {
    display: grid;
    grid-template-columns: 3fr 4fr 3fr 2fr ;
    
}

@media  (max-width : 390px ) {
 #container {
  display: flex;
  flex-direction: column;
  gap : 20px;
  justify-content: center;
  align-items: center;

  
 }

 #container > div {
  flex-grow: 1;
 }
}
    


